* {
    /* border: 1px solid red; */
}
html {
    background-color: #f7dbf0;
    font-family: 'Oleo Script', cursive;
}

body {
    margin: 2rem;
    box-shadow: 0px 0px 100px #80ffdb;
    background-color: #f7dbf0;
    padding: 50px;
}

header {
    padding: 2rem;
    margin: 1.5rem;
}

.header {
    padding: 1rem;
    margin: 0.5rem;
    display: flex;
    justify-content: left;
}

nav {
    float: right;
    display: flex;
    justify-content: flex-end;
    background-color: ivory;
    border-radius: 25px;
}

a {
    color: #fbc7f7;
    letter-spacing: 2px;
    padding: 0.9rem;
    text-decoration: none;
    padding-top: 1.5rem;
    font-size: 1.5rem;
}

a:hover {
    color: #80ffdb;
}

h1 {
    font-size: 4rem;
    line-height: 1.2em;
    color: #cdf0ea;
    margin: 0.5rem;
    font-weight: bold;
    letter-spacing: 6px;
}

h2 {
    font-size: 35px;
    line-height: 3.5rem;
    color: #ffbd9b;
    margin: 1.5rem;
    letter-spacing: 3px;
}

p {
    font-size: 2rem;
    line-height: 2.3rem;
    letter-spacing: 1.5px;
    color: #f9f9f9;
    padding: 1rem;
}

li {
    color: #fff;
    font-size: 1.5rem;
    padding-bottom: 1rem;
    letter-spacing: 2px;
}

button {
    background-color: green;
    color: #fff;
    border: none;
    font-size: 1rem;
    padding: 0.8rem;
    border-radius: 18px;
}

footer {
    color: #f7dbf0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    padding: 1rem;
}

#topics {
    font-size: 30px;
    letter-spacing: 5px;
}

.small {
    opacity: 0.8;
    display: flex;
    justify-content: center;
}

#kim-img {
    border-radius: 50px;
    margin: 1rem;
}

p:hover {
    background-color: #6930c3;
}

.blog-font {
    font-size: 1.5rem;
    line-height: 1.5rem;
}

.form-item {
    color: #f7dbf0;
    font-size: 30px;
    letter-spacing: 2.5px;
    border: none;
    border-radius: 25px;
    padding: 0.2rem;
}

.footer-img {
    padding: 0.07rem;
    border-radius: 25px;
}


/* Small devices (phones, 600px or less) */

@media (max-width: 600px) {
    nav {
        float: none;
        overflow: hidden;
    }
    a {
       /* color: #fb7afc; */
    }
    .small {
        display: none;
    }
}

@media (min-width: 601px) {
    .footer-img {
        display: none;
        }
}

@media (max-width: 768px) {
    nav {
        float: center;
    }
    div.header {
        padding: 1.5rem;
    }
}

@media (max-width: 425px) {
    body {
        margin: 1.5rem;
        padding: 1.5rem;
    }
    header {
        margin: 0.5rem;
        padding: 0.5rem;
    }
    nav {
        margin: 0.5rem;
        float: center;
        display: flex;
        justify-content: flex-start;
        background-color: transparent;
        }
    a {
       font-size: 0.8rem;
       padding: none;
    }
    section {
        margin: 1rem;
        padding: 1rem;
    }

    h1 {
        font-size: 3rem;
    }
    h2 {
        font-size: 2rem;
    }
    #topics {
        font-size: 2rem;
        margin: 0.5rem;
        text-align: center;
    }

    p {
        font-size: 1rem;
        line-height: 1rem;
    }
    div {
        margin: 1.5rem;
        padding: 1.5rem;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    ul {
        padding-left: 0.5rem;
    }
    li {
        font-size: 1rem;
    } 

    .small {
        display: none;
    }
    
    footer {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding: 2.5rem;
    }
}
